<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("sj.jpeg");
  min-height: 100%;
  background-position: center;
  background-size:90%;
}

</style>

</head>
<body>
  
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary" onclick="location.href='Home.html'">Home</a></li>
          <li><a href="AboutJob.html" class="nav-link px-2 text-white">About</a></li>
 <li><a href="Job_listing.html" class="nav-link px-2 text-white">Find a Job</a></li>
        </ul>
        
<div>
          
         
        </div>
  </header>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"></h1>
<marquee><font color="Black" size=50 face="Times New Roman">JOB RECOMMENDATION</marquee></font>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
<font bgcolor="blue">
<div class="text-center">
<div class="menu-wrapper">
<div class="text-end">
          
          <button type="button" class="btn btn-warning" onclick="location.href='signup.html'">Sign-up</button>
        </div>
</body>
</html>